<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css" />
<%- include('../includes/header.ejs') %> <%- include('../includes/infoBar.ejs')
%>

<main class="auth">
  <% if (error.length > 0) {%>
  <div class="error"><%= error%></div>
  <%} %>
  <form class="auth__form" action="/new-password" method="post">
    <input type="password" placeholder="parola noua" name="password" />
    <input type="password" placeholder="repeta parola" name="repeatPassword" />
    <input type="hidden" name="userId" value="<%= userId%>" />
    <input type="hidden" name="token" value="<%= token%>" />
    <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
    <button class="confirm-btn">Schimba parola</button>
  </form>
</main>
